@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

body {
  text-align: center;
  overflow-x: hidden;
}

img {
  max-inline-size: 100%;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

p {
  line-height: 1.625;
}

h2 {
  font-size: 2rem;
  line-height: 1.25;
  font-weight: 700;
  letter-spacing: -0.4px;
  color: #242b37;
}

.overlay-opaque {
  width: 100%;
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: #fff;
  z-index: 10;
}
.overlay-opaque.ebony {
  background-color: #242b37;
  z-index: 8;
}
.overlay-opaque.clay {
  background-color: #5c6779;
  z-index: 9;
}
.overlay-opaque.mirage {
  background-color: #17192b;
  z-index: 3;
}

.initial {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
}

.img-overlay,
.init {
  position: absolute;
  bottom: -0.1rem;
  left: -0.1rem;
  height: 102%;
  width: 102%;
  background-color: #fff;
}

.decoration {
  width: 0;
  z-index: 999;
}

.fade-up {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
}

.slide-in {
  -webkit-transform: translateX(120%);
          transform: translateX(120%);
  opacity: 0;
}

.width {
  width: 0;
}

hr {
  -webkit-transform-origin: center;
          transform-origin: center;
}

.footer_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #fff;
}
.footer_overlay.dark {
  background-color: #111111;
}

.book {
  padding: 1.5rem 3.375rem;
  border: 2px solid #fff;
  font-weight: 600;
  letter-spacing: 2.5px;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: color, background-color 0.3s ease-in;
  transition: color, background-color 0.3s ease-in;
}

header, main, footer {
  max-width: 1980px;
  margin-inline: auto;
  overflow-x: hidden;
}

header {
  padding: 14.5rem 1.5rem 9.5rem;
  background-image: url(../images/homepage/hero-bg-mobile@2x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: -4.6rem;
  position: relative;
  overflow: hidden;
}
header * {
  color: #fff;
}
header .logo {
  height: 32px;
  margin-bottom: 2.25rem;
}
header .overlay {
  position: absolute;
  width: 100%;
  height: 220px;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.02);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
header h1 {
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: -0.4px;
  font-weight: 300;
  margin-inline: 3rem;
  margin-bottom: 1.3rem;
}
header p {
  margin-bottom: 3.313rem;
}
header .book:hover {
  color: #111111;
  background-color: #fff;
  -webkit-transform-origin: right;
          transform-origin: right;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: rgba(92, 103, 121, 0.1);
  position: absolute;
}

::-webkit-scrollbar-track {
  background-color: rgba(36, 43, 55, 0.2);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(23, 25, 43, 0.6);
  border-radius: 10px;
  position: absolute;
}

body .hide-scrollbar {
  scrollbar-width: none; /* Firefox */
}

/* For Chrome, Edge, and Safari */
body.hide-scrollbar::-webkit-scrollbar-thumb {
  display: none;
}

.environment {
  padding-inline: 1.5rem;
}
.environment .environment_img {
  line-height: 0;
  margin-bottom: 5.69rem;
  position: relative;
}
.environment .environment_img::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 10px;
  width: 80%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 0 20px 100px rgb(0, 0, 0);
          box-shadow: 0 20px 100px rgb(0, 0, 0);
}
.environment h2 {
  position: relative;
  margin-inline: 3rem;
  margin-bottom: 0.8rem;
}
.environment h2::before {
  content: url(../images/patterns/pattern-divide.svg);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -3.75rem;
}
.environment .environment_section {
  margin-bottom: 6.25rem;
}

.highlights {
  background-color: #111111;
  padding: 7.18rem 1.5rem 6.56rem;
}
.highlights * {
  color: #fff;
}
.highlights h2 {
  margin-bottom: 0.8rem;
  position: relative;
}
.highlights .highlight_item--img {
  margin-bottom: 2.25rem;
}
.highlights .highlight_item--img img {
  max-width: 128px;
}
.highlights .highlights_header {
  margin-bottom: 5.31rem;
}
.highlights .highlights_header h2::before {
  content: url(../images/patterns/pattern-divide.svg);
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -3.75rem;
}
.highlights .highlight_item--text {
  padding-inline: 1rem;
}
.highlights .highlight_item--text h3 {
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: -0.25px;
  margin-bottom: 0.33rem;
}
.highlights .highlight_item--text p {
  margin-bottom: 3.25rem;
}
.highlights .highlight_item--text hr {
  opacity: 0.5;
  margin-bottom: 1.5rem;
}
.highlights hr {
  margin-bottom: 1.5rem;
  opacity: 0.2;
}

.highlights .highlight_item:last-child p {
  margin-bottom: 0;
}

.events {
  padding-inline: 1.5rem;
  margin-block: 5rem 7.75rem;
  isolation: isolate;
}
.events .events_img {
  margin-bottom: 3rem;
  position: relative;
  margin-inline: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.events .events_img img {
  display: none;
  margin-inline: auto;
}
.events .events_img .display {
  display: block;
  position: relative;
}
.events .toggle {
  display: inline-block;
  color: #5c6779;
  letter-spacing: 2.5px;
  font-weight: 600;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  margin-bottom: 1rem;
  position: relative;
}
.events .toggle::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -0.3rem;
  width: 25%;
  height: 1px;
  background-color: #17192b;
  display: none;
  z-index: -2;
}
.events .toggle.active {
  color: #17192b;
}
.events .toggle.active::after {
  display: unset;
}
.events .toggle:hover {
  color: #17192b;
  -webkit-transform: scale(1.1), translateX(1em);
          transform: scale(1.1), translateX(1em);
}
.events .events_section {
  margin-top: 1.68rem;
}
.events .events_section h2 {
  margin-bottom: 0.8rem;
}
.events .events_section p {
  margin-bottom: 1.7rem;
}
.events .book {
  background-color: #111111;
  color: #fff;
  display: inline-block;
}
.events .book:hover {
  outline: 2px solid #111111;
  color: #111111;
  background-color: #fff;
}

.events_text .events_section {
  display: none;
}

.events_text .events_section:first-of-type {
  display: block;
}

.reservation {
  padding: 5.33rem 1.5rem 5rem;
  background-image: url(../images/homepage/ready-bg-mobile@2x.jpg);
  background-size: cover;
  position: relative;
}
.reservation * {
  color: #fff;
}
.reservation h2 {
  margin-bottom: 1.25rem;
}
.reservation .book {
  display: inline-block;
}
.reservation .book:hover {
  color: #111111;
  background-color: #fff;
  -webkit-transform-origin: right;
          transform-origin: right;
}

footer {
  background-color: #111111;
  padding-block: 5rem;
  position: relative;
}
footer p {
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 0.875rem;
  line-height: 2;
}
footer .logo {
  margin-bottom: 2.62rem;
  height: 40px;
}
footer div > p:nth-of-type(1) {
  margin-bottom: 2rem;
}

.bg-pattern,
.lines {
  display: none;
}

.eventimg {
  position: absolute;
}
.eventimg.leftwidth {
  left: -0.2rem;
  bottom: -0.2rem;
  height: 101%;
  width: 0;
  background-color: #fff;
}
.eventimg.rightheight {
  right: -0.2rem;
  bottom: -0.2rem;
  height: 0;
  width: 51%;
  background-color: #fff;
}

@media screen and (min-width: 650px) {
  h2 {
    font-size: 3rem;
    line-height: 1;
    letter-spacing: -0.5px;
  }
  p {
    font-size: 1.25rem;
    line-height: 1.5;
  }
  header {
    padding: 23.43rem 6rem 13.5rem;
    background-image: url(../images/homepage/hero-bg-tablet@2x.jpg);
    margin-bottom: -7rem;
  }
  header .overlay {
    height: 375px;
  }
  header .logo {
    height: 40px;
  }
  header h1 {
    font-size: 3rem;
    line-height: 1.33;
    margin-inline: 6rem;
  }
  header p {
    margin-bottom: 3.25rem;
  }
  header .book {
    display: inline-block;
  }
  .environment {
    padding-inline: 6.06rem;
    overflow: hidden;
  }
  .environment .environment_section {
    margin-bottom: 7.5rem;
    position: relative;
  }
  .environment .environment_text {
    padding-inline: 3rem;
  }
  .environment .environment_text h2 {
    margin-bottom: 1.75rem;
  }
  .environment .bg-pattern {
    display: unset;
    position: absolute;
    top: 12rem;
    left: -32rem;
    z-index: -1000000;
  }
  .environment .bg-pattern.right {
    top: 90%;
    left: 15rem;
    -webkit-transform-origin: left center;
            transform-origin: left center;
    -webkit-transform: scale(3);
            transform: scale(3);
    z-index: -1;
  }
  .environment .lines {
    display: unset;
    position: absolute;
    right: -3rem;
    top: 14.25rem;
    z-index: 200;
  }
  .highlights {
    padding: 142px 96px 96px;
    margin-bottom: 7.5rem;
  }
  .highlights .highlights_header {
    padding-inline: 4rem;
  }
  .highlights .highlights_header h2::before {
    top: -5.75rem;
  }
  .highlights .highlight_item--img {
    margin-bottom: 0;
    position: relative;
  }
  .highlights .highlight_item--img::before {
    content: "";
    height: 2px;
    width: 6rem;
    position: absolute;
    top: 1rem;
    right: -2rem;
    background-color: #9e7f66;
    z-index: 1;
  }
  .highlights .highlight_item--img img {
    z-index: 10;
    position: relative;
  }
  .highlights .highlight_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    gap: 3.875rem;
    margin-bottom: 1.5rem;
  }
  .highlights .highlight_item p {
    margin-bottom: 0;
  }
  .events {
    position: relative;
    padding-inline: 2.5rem;
  }
  .events .events_img {
    margin-bottom: 3.5rem;
    padding-inline: 2rem;
  }
  .events .events_img::after {
    width: 90%;
  }
  .events .events_text--toggles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 3.5rem;
  }
  .events .lines, .events .bg-pattern {
    display: unset;
    position: absolute;
  }
  .events .bg-pattern {
    top: -7.5rem;
    left: -30rem;
  }
  .events .lines {
    top: -2rem;
    left: 2rem;
  }
  .events .events_text h2 {
    margin-bottom: 1.25rem;
  }
  .events .events_text p {
    max-width: 40ch;
    margin-inline: auto;
    margin-bottom: 3.75rem;
  }
  footer {
    padding: 4rem 2.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8.125rem;
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  header {
    padding: 4rem 10.31rem 12.37rem;
    text-align: start;
    background-image: url(../images/homepage/hero-bg-desktop@2x.jpg);
    margin-bottom: -4rem;
  }
  header .overlay {
    left: 40%;
    height: 100%;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.05);
  }
  header .logo {
    margin-bottom: 9.56rem;
  }
  header h1 {
    font-size: 5rem;
    line-height: 1;
    max-width: 13ch;
    margin-inline: 0;
    margin-bottom: 0.625rem;
  }
  header p {
    margin-bottom: 2.5rem;
    max-width: 45ch;
  }
  .environment {
    padding-inline: 10.31rem;
    margin-bottom: -5rem;
  }
  .environment .environment_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 7rem;
  }
  .environment .environment_section:last-child {
    margin-bottom: 0;
  }
  .environment .environment_section .environment_text {
    padding: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .environment .environment_section .environment_img {
    margin-bottom: 0;
  }
  .environment .environment_section .environment_img img {
    width: 540px;
    height: auto;
  }
  .environment .environment_section h2 {
    margin-inline: 0;
    max-width: 13ch;
  }
  .environment .environment_section h2::before {
    left: 0;
    -webkit-transform: none;
            transform: none;
    top: -4.43rem;
  }
  .environment .environment_section p {
    margin-bottom: 0;
    max-width: unset;
  }
  .environment .bg-pattern {
    left: -12rem;
    top: 15rem;
    -webkit-transform: none;
            transform: none;
  }
  .environment .bg-pattern.right {
    top: 50%;
    -webkit-transform: none;
            transform: none;
    left: unset;
    right: -10.31rem;
  }
  .environment .lines {
    z-index: 10;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .environment .environment_section:nth-of-type(2) .environment_img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .highlights {
    padding: 16.37rem 10.31rem 7.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: start;
    gap: 7rem;
  }
  .highlights .highlights_header {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0;
  }
  .highlights .highlights_header h2 {
    margin-inline: 0;
  }
  .highlights .highlights_header h2::before {
    left: 0;
    -webkit-transform: none;
            transform: none;
  }
  .highlights .highlight_item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .highlights .highlight_item .highlight_item--text {
    padding: 0;
  }
  .highlights .highlight_item p {
    max-width: 40ch;
  }
  .events {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-inline: 10.31rem;
    text-align: start;
    gap: 7.8rem;
  }
  .events .events_text--toggles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .events .events_text--toggles a {
    display: inline-block;
  }
  .events .events_text--toggles a::after {
    width: 100%;
    -webkit-transform: translateX(-170%);
            transform: translateX(-170%);
    top: 50%;
    z-index: -1;
  }
  .events .events_img {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
    padding: 0;
  }
  .events .events_img .display {
    width: 540px;
  }
  .events .events_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .events .lines {
    left: 5rem;
  }
  .events .bg-pattern {
    left: -23rem;
  }
  .reservation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 6.25rem 10.31rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(../images/homepage/ready-bg-desktop@2x.jpg);
  }
  .reservation h2 {
    margin-bottom: 0;
  }
  footer {
    padding-inline: 10.31rem;
    gap: 12rem;
  }
  .footer_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 12rem;
  }
}