@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import 'variables';


::-webkit-scrollbar {
    width: .5rem;
    background-color: fade-out($color: $shuttle-gray, $amount: .9);
    position: absolute;
    
}

::-webkit-scrollbar-track {
    background-color: fade-out($color: $ebony-clay, $amount: .8);
    
}

::-webkit-scrollbar-thumb {
    background-color: fade-out($color: $mirage, $amount: .4);
    border-radius: 10px;
    position: absolute;
}

body .hide-scrollbar {
    scrollbar-width: none; /* Firefox */
}

/* For Chrome, Edge, and Safari */
body.hide-scrollbar::-webkit-scrollbar-thumb {
    display: none;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body {
    text-align: center;
    overflow-x: hidden;
}

img {
    max-inline-size: 100%;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

p {
    line-height: 1.625;
}

h2 {
    font-size: 2rem;
    line-height: 1.25;
    font-weight: 700;
    letter-spacing: -.4px;
    color: $ebony-clay;
}

header {
    padding: 3.5rem 1.5rem 14.25rem;
    background-image: url(../images/booking/hero-bg-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    z-index: 1;
    position: relative;

    .logo {
        margin-bottom: 2.75rem;
        height: 32px;
    }

    * {
        color: #fff;
    }

    h1 {
        font-size: 2rem;
        font-weight: 300;
        line-height: 1.25;
        letter-spacing: -.4px;
        margin-bottom: .75rem;
    }

    p {
        line-height: 1.625;
        margin-bottom: 1.25rem;
    }

    .book {
        display: inline-block;
        padding: 1.5rem 3rem;
        outline: 1px solid #fff;
        letter-spacing: 2.5px;
    }
}

main {
    padding: 1.5rem;
    
}


form, fieldset {
    border: none;
    position: relative;
    
}

.form-container {
    z-index: 10;
    max-width: 540px;
    margin-inline: auto;
}


form {
    z-index: 10;
    padding: 2rem;
    box-shadow: 2px 2px 10px rgba($color: #000, $alpha: .4);
    position: relative;

    label {
        display: block;
        text-align: start;
    }

    label[for="name"],
    label[for="email"] {
        display: none;
    }

    input {
        border: none;
        border-bottom: 2px solid $shuttle-gray;
        width: 100%;
        padding: 1rem;
        padding-right: 0;
        margin-bottom: 2rem;
        font-size: 1.25rem;
        font-family: inherit;

        &[name="date"],
        &[name="hrs"],
        &[name="mins"],
        &[name="am"] {
            width: 25%;

            
        }

        &[name="date"]:not(:last-child),
        &[name="time"]:not(:last-child) {
            margin-right: 1rem;

            
        }

        &:focus {
            border: none;
            outline: none;
            border-bottom: 1px solid #000;
        }

        

    }

    .wrapper {
        position: relative;
    }

    .error {
        position: absolute;
        left: .5rem;
        bottom: .75rem;
        font-size: .75rem;
        color: red;
        display: none;
    }

    legend {
        font-size: 1.25rem;
    }

    .guests-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid $shuttle-gray;
        padding: 1rem;
        margin-bottom: 2rem;

        p {
            font-weight: 700;
            font-size: 1.25rem;
        }

       
    }

    a {
        display: block;
        padding: 1.5rem 2.33rem;
        color: #fff;
        background-color: $cod-gray;
        letter-spacing: 2.5px;
        
    }
}

footer {
    background-color: $cod-gray;
    padding-block: 5rem;
    position: relative;

    p {
        text-transform: uppercase;
        color: #fff;
        font-weight: 400;
        letter-spacing: 2px;
        font-size: .875rem;
        line-height: 2;

        
    }

    .logo {
        margin-bottom: 2.62rem;
        height: 40px;
    }

    div > p:nth-of-type(1) {
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 650px) {
    
    header {
        padding: 3.5rem 2.5rem 16.75rem;
        background-image: url(../images/booking/hero-bg-tablet@2x.jpg);

        .logo {
            float: left;
        }

        h1 {
            margin-top: 10.37rem;
            font-size: 3rem;
            line-height: 1.33;
            margin-bottom: .75rem;
        }

        p {
            font-size: 1.25rem;
            line-height: 1.5;

        }

        .book {
            display: none;
        }
    }

    footer {
        padding: 4rem 2.5rem;
        display: flex;
        gap: 8.125rem;
        text-align: start;
    }
}

@media screen and (min-width: 1200px) { 
    header {
        padding: 4.06rem 10.31rem 9.625rem;
        text-align: start;
        background-image: url(../images/booking/hero-bg-desktop@2x.jpg);
        z-index: -100;

        h1 {
            font-size: 5rem;
            line-height: 1;
            margin-bottom: 1.1rem;
        }

        p {
            max-width: 38ch;
        }
    }
    main {
        padding-inline: 0;
    }

    .form-container {
        margin-inline: 0;
        padding-left: 10.31rem;

        form {
            width: 600px;
        }
    }

    footer {
        padding-inline: 10.31rem;
        gap: 12rem;
       }
       .footer_wrap {
            display: flex;
            gap: 12rem;
        }
}